<div class="am-container">
  <%= form_for 'articles', method: @path, html: { class: 'am-form' }, data: {'am-validator': true} do |f| %>
    <% if @article != '' %>
      <div class="am-form-group">
        <%= label_tag :title, '标题' %>
        <%= text_field_tag :title, @article.title, required: true %>
      </div>
      <div class="am-form-group">
        <%= label_tag :image, '图片链接' %>
        <%= url_field_tag :image, @article.image, required: true %>
      </div>
      <div class="am-form-group">
        <%= label_tag :category_id, '类别' %>
        <div>
          <% @categories.each do |item| %>
            <% if @article.category && @article.category.name == item.name %>
              <%= radio_button_tag :category_id, item.id, checked: true %>
            <% else %>
              <%= radio_button_tag :category_id, item.id %>
            <% end %>
            <%= label_tag item.name %>
          <% end %>
        </div>
      </div>
      <% if @article.image %>
        <div class="am-form-group">
          <label>已上传图片预览</label>
          <%= image_tag @article.image, class: 'am-img-thumbnail am-radius admin-article-image' %>
        </div>
      <% end %>
      <div class="am-form-group">
        <%= label_tag :body, '正文（图片只能使用网络图片）' %>
        <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
          <%= @article.body.html_safe %>
        </script>
      </div>
    <% else %>
      <div class="am-form-group">
        <%= label_tag :title, '标题' %>
        <%= text_field_tag :title, '', required: true %>
      </div>
      <div class="am-form-group">
        <%= label_tag :image, '图片链接' %>
        <%= url_field_tag :image, '', required: true%>
      </div>
      <div class="am-form-group">
        <%= label_tag :category_id, '类别' %>
        <div>
          <% @categories.each do |item| %>
            <%= radio_button_tag :category_id, item.id, required: true %>
            <%= label_tag item.name %>
          <% end %>
        </div>
      </div>
      <div class="am-form-group">
        <%= label_tag :body, '正文（图片只能使用网络图片）' %>
        <script type="text/plain" id="myEditor" style="width:1000px;height:240px;">
        </script>
      </div>
    <% end %>
    <%= f.submit "保存", class: 'am-btn am-btn-primary' %>
  <% end %>
</div>