<div class="am-container">
  <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>标题</th>
        <th>分类</th>
        <th>创建时间</th>
        <th>最近修改时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.title %></td>
          <td><%= item.created_at.to_formatted_s(:db) %></td>
          <td><%= item.updated_at.to_formatted_s(:db) %></td>
          <td><span class="am-badge am-badge-primary am-radius"><%= item.category.name %></span></td>
          <td>
            <a href="###" class="am-btn am-btn-primary am-radius am-btn-xs">编辑</a>
            <a href="###" class="am-btn am-btn-danger am-radius am-btn-xs">删除</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles, class: 'am-pagination am-pagination-center', previous_label: '上一页', next_label: '下一页' %>
</div>