<div class="admin-login-wrap">
  <% if @path == '/register' %>
    <div class="am-alert am-alert-warning admin-alert">
      <p>还没有管理员账号，请注册一个！</p>
    </div>
  <% end %>
  <%= form_for 'users', url: @path, method: 'post', html: { class: 'am-form' }, data: {'am-validator': true} do |f| %>
    <fieldset>
      <legend>
        <% if @path == '/login' %>
          登录
        <% elsif @path == '/register' %>
          注册
        <% end %>
      </legend>

      <div class="am-form-group">
        <%= label_tag :username, '用户名' %>
        <%= text_field_tag :username, '', required: true %>
      </div>
      <div class="am-form-group">
        <%= label_tag :password, '密码' %>
        <%= password_field_tag :password, '', required: true %>
      </div>

      <% if @path == '/login' %>
        <%= f.submit "登录", class: 'am-btn am-btn-primary' %>        
      <% elsif @path == '/register' %>
        <%= f.submit "注册", class: 'am-btn am-btn-primary' %>        
      <% end %>
    </fieldset>
  <% end %>
</div>