<div class="admin-login-wrap">
  <%= form_for 'users', url: @path, method: 'post', html: { class: 'am-form', data-am-validator } do |f| %>
    <fieldset>
      <legend>
        <% if @path == '/login' %>
          登录
        <% elsif @path == '/register' %>
          注册
        <% end %>
      </legend>

      <div class="am-form-group">
        <%= label_tag :username, '用户名' %>
        <%= text_field_tag :username %>
      </div>
      <div class="am-form-group">
        <%= label_tag :password, '密码' %>
        <%= password_field_tag :password %>
      </div>

      <% if @path == '/login' %>
        <%= f.submit "登录", class: 'am-btn am-btn-primary' %>        
      <% elsif @path == '/register' %>
        <%= f.submit "注册", class: 'am-btn am-btn-primary' %>        
      <% end %>
    </fieldset>
  <% end %>
</div>