<section class="am-g hot-news-wrap" id="home">
  <% for i in 0..2 %>
    <% if articles[i] %>
      <% if i == 0 %>
        <a <% if articles[i].image %>style="background-image: url(<%= articles[i].image %>)"<% end %> class="am-u-sm-6 primary" href="/articles/<%= articles[i].id %>">    
        <% else %>
        <a <% if articles[i].image %>style="background-image: url(<%= articles[i].image %>)"<% end %> class="am-u-sm-3 second" href="/articles/<%= articles[i].id %>">        
        <% end %>
          <div class="info-warp">
            <h1 class="title"><%= articles[i].title %></h1>
            <p class="sub-info">发布时间：<%= articles[i].created_at.to_formatted_s(:db) %><span class="am-badge am-badge-primary am-radius"><%= articles[i].category.name %></span></p>
          </div>
        </a>
    <% else %>
      <% if i == 0 %>
        <a class="am-u-sm-6 primary">    
        <% else %>
        <a class="am-u-sm-3 second">        
        <% end %>
          <div class="info-warp">
            <h1 class="title">其实标题的是空</h1>
            <p class="sub-info">发布时间：猴年马月<span class="am-badge am-badge-primary am-radius">木有</span></p>
          </div>
        </a>
    <% end %>
  <% end %>
</section>

<% if articles.length > 3 %>
  <section class="am-container">
    <section class="am-g hot-news-second-wrap">
      <% for i in 3..4 %>
        <div class="am-u-sm-6 categories-item-wrap">
          <p class="info am-cf"><%= articles[i].created_at.to_formatted_s(:db) %><span class="am-fr"><%= articles[i].category.name %></span></p>
          <a href="/articles/<%= articles[i].id %>">
            <div class="image" <% if articles[i].image %>style="background-image: url(<%= articles[i].image %>)"<% end %>></div>
            <p class="title"><%= articles[i].title %></p>
          </a>
        </div>
      <% end %>
    </section>
  </section>
<% else %>
  <%= render 'components/nothing' %>
<% end %>