<%= render 'hot-news' %>

<% @categories.each do |item| %>
  <section class="classification" id="<%= item.name %>">
    <div class="image" style="background-image: url(<%= item.image %>)"><%= item.description %></div>
    <h2 class="text"><%= item.name %></h2>
  </section>
<% end %>

